body{
  margin:0;
}
.imag1{
  width:1440px;
  height:900px;
  z-index:0;
}
h1{
position: absolute;
top:5px;
left:600px;
font-family: Open Sans;
font-style: normal;
font-weight: normal;
font-size: 13px;
line-height: 20px;
text-align: center;
z-index:10;

color: #000000;
}


.P1{
position:absolute;
height:700px;
width:400px;
top:100px;
left:500px;
z-index:30;
opacity: 0.5;
}

.P2{
position:absolute;
height:700px;
width:400px;
top:120px;
left:540px;
z-index:30;
opacity: 0.5;
}
.P3{
position:absolute;
height:700px;
width:400px;
top:80px;
left:540px;
z-index:30;
opacity: 0.5;
}
.P4{
position:absolute;
height:700px;
width:400px;
top:100px;
left:480px;
z-index:30;
opacity: 0.5;
}

.P4{
position:absolute;
height:700px;
width:400px;
top:120px;
left:380px;
z-index:30;
opacity: 0.5;
}

.P5{
position:absolute;
height:700px;
width:400px;
top:110px;
left:410px;
z-index:30;
opacity: 0.5;
}
.P6{
position:absolute;
height:700px;
width:400px;
top:100px;
left:410px;
z-index:30;
opacity: 0.5;
}
.P7{
position:absolute;
height:700px;
width:400px;
top:110px;
left:410px;
z-index:30;
opacity: 0.5;
}

.lock1{
  position:absolute;
  width:20px;
  height:20px;
  z-index:30;
  top:13px;
  left:560px;
  z-index:30;
}

.imglink{
position:absolute;
top:10px;
left:92px;
height:20px;
width:50px;
z-index:40;
}
.bu1{
  position:absolute;
  height:20px;
  width:70px;
  top:10px;
  left:10px;
  z-index:40;
}
.bu2{
  position:absolute;
  height:37px;
  width:55px;
  top:4px;
  left:1250px;
  z-index:40;
}
.bu3{
  position:absolute;
  height:33px;
  width:54px;
  top:6px;
  left:1357px;
  z-index:40;
}
